#####
# exclude all cache (image, meta) directories

/tmp

/thecryptogenius/i
/thecryptogenius/i_jpg
/thecryptogenius/ii
/thecryptogenius/meta


/histopunks/i
/histopunks/ii
/histopunks/meta


/unofficialpunks/i
/unofficialpunks/ii
/unofficialpunks/meta


/athletes-101/i
/athletes-101/ii
/athletes-101/meta


/onlypunksnft/i
/onlypunksnft/ii
/onlypunksnft/meta
/onlypunksnft/tmp


/mafia-punks-club/i
/mafia-punks-club/ii
/mafia-punks-club/meta


/star-punks1/i
/star-punks1/ii
/star-punks1/meta
/star-punks1/tmp


/cryptowiener-4/i
/cryptowiener-4/ii
/cryptowiener-4/meta

