#####
# exclude all cache (image, meta) directories

/tmp

/thecryptogenius/i
/thecryptogenius/i_jpg
/thecryptogenius/ii
/thecryptogenius/meta


/histopunks/i
/histopunks/ii
/histopunks/meta


/unofficialpunks/i
/unofficialpunks/ii
/unofficialpunks/meta
