#####
# exclude all cache (image, meta) directories

/tmp
/misc/tmp



/thecryptogenius/i
/thecryptogenius/i_jpg
/thecryptogenius/ii
/thecryptogenius/meta


/histopunks/i
/histopunks/ii
/histopunks/meta


/unofficialpunks/i
/unofficialpunks/ii
/unofficialpunks/meta


/athletes-101/i
/athletes-101/ii
/athletes-101/meta


/onlypunksnft/i
/onlypunksnft/ii
/onlypunksnft/meta
/onlypunksnft/tmp


/mafia-punks-club/i
/mafia-punks-club/ii
/mafia-punks-club/meta


/star-punks1/i
/star-punks1/ii
/star-punks1/meta
/star-punks1/tmp


/cryptowiener-4/i
/cryptowiener-4/ii
/cryptowiener-4/meta


/scifipunks/i
/scifipunks/ii
/scifipunks/meta


/bwpunks/i
/bwpunks/ii
/bwpunks/meta


/anime-punks/i
/anime-punks/ii
/anime-punks/meta


/monkepunks/i
/monkepunks/ii
/monkepunks/meta


/dogepunks-collection/i
/dogepunks-collection/ii
/dogepunks-collection/meta


/bladerunner-punks/i
/bladerunner-punks/ii
/bladerunner-punks/meta
/bladerunner-punks/tmp


/clout-punks/i
/clout-punks/ii
/clout-punks/meta
/clout-punks/tmp


/kimono-punks/i
/kimono-punks/ii
/kimono-punks/meta
/kimono-punks/tmp


/youtubepunks/i
/youtubepunks/ii
/youtubepunks/meta
/youtubepunks/tmp


/pornstarpunks/i
/pornstarpunks/ii
/pornstarpunks/meta
/pornstarpunks/tmp


/cinepunkss/i
/cinepunkss/ii
/cinepunkss/meta
/cinepunkss/tmp


/genius-punks/i
/genius-punks/ii
/genius-punks/meta
/genius-punks/tmp


/cryptogreats/i
/cryptogreats/ii
/cryptogreats/meta
/cryptogreats/tmp


/figurepunks/i
/figurepunks/ii
/figurepunks/meta
/figurepunks/tmp


/pixelmeows/i
/pixelmeows/ii
/pixelmeows/meta
/pixelmeows/tmp

